streamlit==1.45.1
pandas==2.2.3
numpy==2.2.6
scikit-learn==1.6.1
torch==2.0.1
transformers==4.52.3
openai==1.82.0
fastapi==0.115.12
uvicorn==0.34.2
langchain==0.3.25
langchain-community
beautifulsoup4==4.13.4
gTTS==2.5.4
requests==2.32.3
python-dotenv==1.1.0
